<div ng-init="Home.init()" id="home-scroll-context">

    <div class="background" set-height></div>

    <!-- Intro Header -->
    <header class="masthead" set-height>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">giancarlo + enrica</h1>
                        <p class="intro-text">
                            Vi aspettano per festeggiare il loro Matrimonio!<br/>Il giorno 22 Giugno al Convento di San Giuseppe
                        </p>
                        <a du-smooth-scroll du-scrollspy offset="30" href="#lista" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="lista" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1>luna di miele</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <img class="wedding-logo" src="img/wedding-logo.png">
                </div>
                <div class="col-lg-4 mx-auto">
                    <p class="italic" style="text-align:center">
                        Se volete contribuire alla nostra
                        <span class="highlight">luna di miele in Vietnam e Malesia</span>, potete farlo facendo un bonifico bancario sul conto:
                    </p>
                    <div class="iban">
                        <table style="font-size: 16px;">
                            <tr>
                                <td>intestatari:</td>
                                <td>ENRICA ZARU<br>GIANCARLO AMBU</td>
                            </tr>
                            <tr>
                                <td>iban:</td>
                                <td>IT30T0347501605CC0011749781</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="location" class="content-section text-center">
        <div class="container" style="padding-top: 50px;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1>location</h1>
                </div>
            </div>
        </div>
        <div id="map" google-map></div>

        <div class="container" style="padding-top: 50px;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p>
                        <a target="_blank" href="https://www.google.it/maps/place/Convento+San+Giuseppe/@39.2390316,9.1332176,15z/data=!4m5!3m4!1s0x0:0x6bd66e237029c20!8m2!3d39.2390316!4d9.1332176">
                            <span style="font-weight: 700;">Convento di San Giuseppe</span> - <span> Via Paracelso, 09131 Cagliari CA</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="photos" class="content-section text-center">
        <div class="container" style="padding-top: 50px;">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <h1>photos</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <img width="100%" src="https://storage.googleapis.com/wedding-pattystrolly.appspot.com/img/1.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <img class="photo-border" width="100%" src="https://storage.googleapis.com/wedding-pattystrolly.appspot.com/img/2.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <img class="photo-border" width="100%" src="https://storage.googleapis.com/wedding-pattystrolly.appspot.com/img/3.jpg">
                </div>
            </div>
        </div>
    </section>

</div>